<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab eos vitae saepe officia
                repellendus repellat
                quam in expedita repudiandae corrupti?</p>
        </div>
    </div>
</div>


<!-- Edit contact form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2"><input type="text" class="form-control" placeholder="Name"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Photo Url"></div>
                <div class="mb-2"><input type="email" class="form-control" placeholder="Email"></div>
                <div class="mb-2"><input type="number" class="form-control" placeholder="Mobile Number"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Company"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Title"></div>
                <div class="mb-2"><select class="form-control">
                        <option class="option">Select a group</option>
                    </select></div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
                class="contact-img"></div>
    </div>
</div>